@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

// css of main rightbar container 
.rightbar_container{
    width: 75%;
}

// css of search box to adding symbol of search 
.search_symbol::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: 900 ;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 2rem;
    padding-top: 5px;
}

// giving hight and wight of search box 
.input_box input{
    height: 50px;
    width: 800px;
    border-radius: 2rem;
    margin-left: 6rem;
    background-color: #f2f3f7;
    border: thin ;
    
}

// css for header to arrange in a line 
.header{
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
}

// css of previous and next button styling 
.nextbutton_styling{
    margin-left: 2rem;
    
}

.pre_and_next_but_sty{
       display: flex;
       margin-top: 1rem;
}


// styling of image in rightbar container 
.image_container{
    display: flex;
    justify-content: center;
}

.image_styling{
    height: 270px;
    width: 70%;

  }


.song_suggestion{
    display: flex;
    justify-content: space-between;
    margin: 3.5rem;
    margin-top: -0.5rem;
}

.see_all_container{
   margin-right: 5rem;
}