@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

// css of main rightbar container 
.rightbar_container{
    width: 75%;
}

// css of search box to adding symbol of search 
.search_symbol::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: 900 ;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 2rem;
    padding-top: 5px;
}

// giving hight and wight of search box 
.input_box input{
    height: 50px;
    width: 800px;
    border-radius: 2rem;
    margin-left: 6rem;
    background-color: #f2f3f7;
    border: thin ;
    
}

// css for header to arrange in a line 
.header{
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
}

// css of previous and next button styling 
.nextbutton_styling{
    margin-left: 2rem;
    
}

.pre_and_next_but_sty{
       display: flex;
       margin-top: 1rem;
}


// styling of image in rightbar container 
.image_container{
    display: flex;
    justify-content: center;
}

.image_styling{
    height: 270px;
    width: 70%;

  }


.song_suggestion{
    display: flex;
    justify-content: space-between ;
    margin: 3.5rem;
    margin-top: -0.5rem;
}

.see_all_container{
   margin-right: 5rem;
}


// css of all suggestion list like title list ,playing list and time list etc 
.suggestion_list{
   display: flex;
   margin-top: -3.5rem;
   margin-left: 3.5rem;
   font-weight: 500;
}
.title_list{
    margin-left: 11rem;
}
.playing_list{
    margin-left: 18rem;
}
.time_list{
    margin-left: 11rem;
}

.album_list{
    margin-left: 8rem;
}


// css portion of all suggested song list 
.main_container_list{
    margin-left: 2rem;
    margin-top:  1rem ;
    
}


.first_li_container{
    font-weight: 600 ;
    margin-bottom: 0.8rem;
    background-color: #f2f3f7;
    height: 3rem;
    width: max-content;
}
.first_list li{
     display: inline;

}
.first_title_list{
    margin-left: 7rem;
    margin-right: 6.5rem;
}
.first_time_list{
    margin-left: 10.5rem;
    margin-right: 9.5rem;
}


.second_list li{
    display: inline;
}
.second_title_list{
    margin-left: 7rem;
    margin-right: 16rem;
}
.second_time_list{
    margin-left: 10.2rem;
    margin-right: 9.5rem;
}



.third_list li{
    display: inline;
}

.third_li_container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.third_title_list{
    margin-left: 7rem;
    margin-right: 13.5rem;
}
.third_time_list{
    margin-left: 10rem;
    margin-right: 8.5rem;
}



.fourth_list li{
    display: inline;
}
.fourth_title_list{
    margin-left: 7rem;
    margin-right: 17.5rem;
}
.fourth_time_list{
    margin-left: 10rem;
    margin-right: 9rem;
}

